spring:
  cloud:
    stream:

      bindings:
        customer-topic-binder-amqp:
          binder: rabbit_amqp
          destination: customer-topic-binder-amqp

        customer-topic-binder:
          binder: kafka_key_string
          destination: customer-topic

        customer-topic-binder-bytes:
          binder: kafka_key_bytes
          destination: customer-topic-bytes

        customer-topic-binder-avro:
          binder: kafka_avro
          destination: customer-topic-avro
          contentType: application/*+avro


      binders:
        kafka_key_string:
          type: kafka
          environment:
            spring:
              cloud:
                stream:
                  kafka:
                    binder:
                      #                      autoCreateTopics: true
                      #                      autoAddPartitions: true
                      producer-properties:
                        key.serializer: org.apache.kafka.common.serialization.StringSerializer
                      brokers: http://localhost:9092

        kafka_key_bytes:
          type: kafka
          environment:
            spring:
              cloud:
                stream:
                  kafka:
                    binder:
                      brokers: http://localhost:9092

        kafka_avro:
          type: kafka
          environment:
            spring:
              cloud:
                stream:
                  kafka:
                    binder:
                      producer-properties:
                        key.serializer: org.apache.kafka.common.serialization.StringSerializer
                        value.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
                        schema.registry.url: http://localhost:8081
                      brokers: http://localhost:9092

        rabbit_amqp:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: localhost
                port: 5672
                username: guest
                password: guest